<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypto Pesos</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
<div class="form-popup">
    <section class="nav__dropdown transfer" id="transfer">
        <div class="nav__dropdown-container">
            <img src="/static/img/Cryptopesos.jpg" style="display:inline-block;margin:auto;">
            <br>
            <br>
            <div class="nav__dropdown-left">
                <h2>Acredita dinero en tu cuenta</h2>
            </div>
            <br>
            <div class="nav__dropdown-right">
                <form class="transfer-money">
                    <label class="hide" for="usuario">Usuario</label>
                    <input type="text" id="usuario" placeholder="Usuario" required="required" />
                    <br>
                    <label class="hide" for="cantidad">Cantidad</label><input class="cantidad" type="number" id="cantidad"
                        placeholder="Cantidad">
                    <br>
                    <label class="hide" for="transferir">Submit</label>
                    <br>
                    <input class="transferir" type="button" id="transferir"
                        value="Transferir" onclick="agregarDatos()" /></form>
            </div>
        </div>
    </section>

    <br>
    <br>

    <section>
            <h1>Historial de Recargas</h1>
            <table class="rwd-table" id="movimientos">
                <tr>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                </tr>
            </table>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="/static/js/script.js"></script>
    </section>
</div>
</body>

</html>